body {
    font-family: Arial, sans-serif;
    margin: 20px 20px 10px 20px;
    padding: 0;
    background: linear-gradient(to bottom, #f4f4f4 0%, #4bbf87 100%);
    /* background-color: #f4f4f4; */
}
section{
    min-height: 92vh;
}
.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-top: 0;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input:focus{
    outline: 2px solid #4bbf87;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3fbe81;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #15b769;
}

#shortened-urls {
    margin-bottom: 0;
    height: 15rem;
    overflow: hidden scroll;
    list-style: none;
    padding: 0rem;
}

#shortened-urls li {
    background: #e9ecef;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: all .3s ease;
    scale: .98;
}
#shortened-urls li:hover{
    scale: 1;
}

#shortened-urls li a{
    color: black;
}

footer a{
    color: #4bbf87;
    color: #fff;
}